<!DOCTYPE html>
<html>
  <head>
    Upload sequence count/intensity data to compute abundance!
  </head>
  <body>
    <form action="/upload_sc" method="post" enctype="multipart/form-data">
      1. Peptide + quantity file:
      <input type="file" name="file" id="sc_file">
      <br>
      <input type="submit" value="Upload">
    </form>
    <form action="/spid_check" method = "POST">
      2a. Species taxonomy ID (if its fasta file exists from us, you don't need to upload)
      <input type = "text" name = "spid" id = "spid"><br>
      <input type = "submit" value="Check">
    </form>
    <form action="/upload_fasta" method="post" enctype="multipart/form-data">
      2b. Or upload your own fasta file:
      <input type="file" name="file" id="fa_file">
      <br>
      <input type="submit" value="Upload">
    </form>
    <form action="/submit" method = "post">
      <input type="submit" value="Compute">
    </form>
    </body>
</html>
